{% extends 'badmin.html' %}
{% block title %}listar{% endblock %}

{% block body %}
<h2>Lista de Mascotas</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>id_persona</th>
            <th>nombre</th>
            <th>gmail</th>
            <th>contraseña</th>
        </tr>
    </thead>
    <tbody>
        {% for m in mascotas %}
        <tr>
            <td>{{ m.id_persona }}</td>
            <td>{{ m.nombre }}</td>
            <td>{{ m.gmail }}</td>
            <td>{{ m.contraseña }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}



