{% extends "layout.html" %}
{% block body %}
<h2>Lista de Mascotas</h2>
<table class="table table-striped">
    <thead>
        <tr><th>ID</th><th>Nombre</th><th>Especie</th><th>Edad</th></tr>
    </thead>
    <tbody>
        {% for m in mascotas %}
        <tr>
            <td>{{ m.id }}</td>
            <td>{{ m.nombre }}</td>
            <td>{{ m.especie }}</td>
            <td>{{ m.edad }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('mascotas_agregar') }}" class="btn btn-success">Agregar Nueva Mascota</a>
{% endblock %}



